mixin projectCard(obj)
  // project card
  .project-card.js-link(data-href="homepage.html")
    .project-card__remove.js-tooltip(data-tippy-placement="right" data-tippy-content="Удалить?")
      +svgMono("delete")
    .project-card__content
      .project-card__inner
        .project-card__header
          //- .project-card__remove.js-tooltip(data-tippy-placement="right" data-tippy-content="Удалить?")
          //-   +svgMono("delete")

          h2.project-card__heading= obj.name
          +progress(obj.progress)

        if obj.caption
          p.project-card__caption= obj.caption
        .project-card__properties
          .project-card__property
            +svgMono("company-user")
            span= obj.company
          .project-card__property
            if obj.access === 'limited'
              +svgMono("access-limited")
              span Ограниченный доступ
            if obj.access === 'full'
              +svgMono("access-full")
              span Полный доступ

    .project-card__info
      .project-card__date Изменено:
        span= obj.date
      a.btn.btn-outline(href='#' title='Перейти к проекту') Перейти к проекту


mixin pollCard(obj)
  // poll card
  .project-card.js-link(data-href="homepage.html")
    .project-card__content
      .project-card__inner
        .project-card__header
          .project-card__remove.js-tooltip(data-tippy-placement="right" data-tippy-content="Удалить?")
            +svgMono("delete")
          h2.project-card__heading= obj.name
          ul.tags.project-card__tags
            li.tags__item= obj.tags
        if obj.caption
          p.project-card__caption= obj.caption
        .project-card__properties
          .project-card__property
            +svgMono("company-user")
            span= obj.user
          .project-card__property
            if obj.visibility === 'public'
              +svgMono("visibility-public")
              span Публичная
            if obj.visibility === 'private'
              +svgMono("visibility-private")
              span Приватная

    .project-card__info
      .btn.btn-square
        +svgMono("dots")
        .dropdown
          .dropdown__menu
            a.dropdown__button(href="#") Изменить
            a.dropdown__button(href="#") Удалить

      a.btn.btn-outline(href='#' title='Посмотреть') Посмотреть


mixin progress(val)
  if val === 0
    .progress.js-tooltip(data-tippy-placement="top" data-tippy-content="Прогресс проекта: 0%")
      .progress__cell
      .progress__cell
      .progress__cell
      .progress__cell

  if val === 1
    .progress.js-tooltip(data-tippy-placement="top" data-tippy-content="Прогресс проекта: 25%")
      .progress__cell.-complete
      .progress__cell
      .progress__cell
      .progress__cell

  if val === 2
    .progress.js-tooltip(data-tippy-placement="top" data-tippy-content="Прогресс проекта: 50%")
      .progress__cell.-complete
      .progress__cell.-complete
      .progress__cell
      .progress__cell

  if val === 3
    .progress.js-tooltip(data-tippy-placement="top" data-tippy-content="Прогресс проекта: 75%")
      .progress__cell.-complete
      .progress__cell.-complete
      .progress__cell.-complete
      .progress__cell

  if val === 4
    .progress.js-tooltip(data-tippy-placement="top" data-tippy-content="Прогресс проекта: 100%")
      .progress__cell.-complete
      .progress__cell.-complete
      .progress__cell.-complete
      .progress__cell.-complete
